In [107]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

print('Libraries imported.')

Libraries imported.

In [108]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [109]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 3 columns):
Postcode         288 non-null object
Borough          288 non-null object
Neighbourhood    288 non-null object
dtypes: object(3)
memory usage: 6.8+ KB

In [111]:
for column in df.columns.values.tolist():
    print(column)
    print(df[column].value_counts())
    Print("")

Postcode
M9V    8
M8Y    8
M5V    7
M8Z    5
M9B    5
M4V    5
M9C    4
M1V    4
M6M    4
M9R    4
M1T    3
M5R    3
M6K    3
M1P    3
M5T    3
M8X    3
M3H    3
M1K    3
M1E    3
M1C    3
M2J    3
M8V    3
M5H    3
M1M    3
M5J    3
M6L    3
M1L    3
M5L    2
M8W    2
M5K    2
M5A    2
M5P    2
M5M    2
M6P    2
M6R    2
M4X    2
M1B    2
M6A    2
M3K    2
M4T    2
M3C    2
M4L    2
M1R    2
M1N    2
M2L    2
M6S    2
M9M    2
M4B    2
M4K    2
M5X    2
M5S    2
M5B    2
M2M    2
M6J    2
M3J    2
M6N    2
M6H    2
M6X    1
M6T    1
M1J    1
M9G    1
M9T    1
M6V    1
M6E    1
M8C    1
M8P    1
M3L    1
M5C    1
M3P    1
M2C    1
M7L    1
M2S    1
M2G    1
M2E    1
M2R    1
M1Y    1
M3Y    1
M4A    1
M2V    1
M3M    1
M5Z    1
M7M    1
M7V    1
M8B    1
M4C    1
M7W    1
M7B    1
M8A    1
M4N    1
M8E    1
M3V    1
M4G    1
M2W    1
M4M    1
M2P    1
M7K    1
M8S    1
M9A    1
M9J    1
M8G    1
M4W    1
M6W    1
M7X    1
M5E    1
M9L    1
M7N    1
M9W    1
M3S    1
M7S    1
M7A    1
M8N    1
M7G    1
M3N    1
M9S    1
M8L    1
M1G    1
M3T    1
M7E    1
M3A    1
M8H    1
M7T    1
M3Z    1
M8J    1
M7Z    1
M3E    1
M4Z    1
M2K    1
M6Z    1
M4J    1
M1S    1
M2Y    1
M4Y    1
M7H    1
M2X    1
M5Y    1
M9X    1
M1X    1
M2B    1
M9Z    1
M9H    1
M8T    1
M4E    1
M7P    1
M7C    1
M9N    1
M2T    1
M2N    1
M4H    1
M3G    1
M3R    1
M8R    1
M7R    1
M9K    1
M1W    1
M6Y    1
M7J    1
M9Y    1
M5G    1
M6G    1
M2A    1
M2Z    1
M8M    1
M4P    1
M1Z    1
M2H    1
M6C    1
M4S    1
M3X    1
M4R    1
M3W    1
M8K    1
M1A    1
M9P    1
M5N    1
M6B    1
M1H    1
M3B    1
M7Y    1
M9E    1
M5W    1
Name: Postcode, dtype: int64

NameError: name 'Print' is not defined

Drop rows where Borough equals to 'Not assigned'

In [112]:
df = df.loc[df['Borough'] != 'Not assigned']
df['Borough'].value_counts()

Etobicoke           45
North York          38
Downtown Toronto    37
Scarborough         37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Queen's Park         1
Mississauga          1
Name: Borough, dtype: int64

Inspect rows with duplicated (Postcode, Borough)

In [113]:
df.sort_values(by = ['Postcode','Neighbourhood']).head()

   Postcode      Borough   Neighbourhood
12      M1B  Scarborough         Malvern
11      M1B  Scarborough           Rouge
27      M1C  Scarborough  Highland Creek
29      M1C  Scarborough      Port Union
28      M1C  Scarborough      Rouge Hill

Transform column 'Neighbourhood' by joing values with the same Postcode and Borough.

In [114]:
df['Neighbourhood'] = df.groupby(['Postcode','Borough'])['Neighbourhood'].transform(lambda x: ','.join(x))

Reset index.

In [116]:
df = df.reset_index(drop = True)

In [117]:
df.shape

(211, 3)